# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'HOST': os.path.join(''),
        'NAME': os.path.join(''),
        'USER': os.path.join(''),
        'PASSWORD': os.path.join(''),
    }
}
REST_FRAMEWORK = {
        'DEFAULT_PAGINATION_CLASS': 'rest_framework.pagination.PageNumberPagination',
        'PAGE_SIZE': 10,
        'DEFAULT_AUTHENTICATION_CLASSES': (
            'rest_framework.authentication.SessionAuthentication',
            'rest_framework.authentication.TokenAuthentication',
            ),
        'DEFAULT_PERMISSION_CLASSES': (
            'rest_framework.permissions.AllowAny',
            )
        }
        
CORS_ORIGIN_ALLOW_ALL = True
DOWNLOAD_BASE_PATH='/Users/Michael/test/'
DOWNLOAD_X_SENDFILE=  True
API_PREFIX='/'

WORDPRESS_USER='<wordpress user here>'
WORDPRESS_API_KEY='<wordpress API key here>'